*.bin
*.swp
*/CMakeLists.txt.user
*_builddir/
*callgrind*
*~
.idea/
/.metadata/
/bin/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Testing/
__pycache__
_deps
build/
cmake_install.cmake
compile_commands.json
html/
indir/
install_manifest.txt
latex/
tags
